<nav class="navbar main bg-dark">
  <ul class="navbar justify-content-left">
    <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/']">Home</a>
      </li> -->
    <li>
      <h1>
        <a [routerLink]="['/']">AllJob</a>
      </h1>
    </li>
    <li routerLinkActive="active"><a [routerLink]="['/portfolio']">About me</a></li>
    <li routerLinkActive="active"><a routerLink="/cv">Employee CV / Login</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/admin', 'login']">Employers offer / Login</a></li>
    <li routerLinkActive="active"><a> Logout</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/admin-cv', 'cv-login']">Cv / Login</a></li>
  </ul>
</nav>

<div class="container">
  <div class="card">

    <router-outlet></router-outlet>

  </div>
</div>