  <div *ngIf="job$ | async as job; else loading">
    <div class="job">
      <div class="header">
        <h1>{{ job.title }}</h1>
  
        <button routerLink="/" class="btn btn-link">Home</button>
      </div>
  
      <div class="info">
        <strong>{{ job.author }}</strong>
        <small>{{ job.date | date:'medium':null:'en' }}</small>
      </div>
  
      <div>
        <quill-view-html [content]="job.text"></quill-view-html>
      </div>
    </div>
  </div>
  
  <ng-template #loading>
    <p class="text-center">loading job...</p>
  </ng-template>