<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
    <div class="wrapper">
        <!-- header -->
        <header id="header">
            <img src="#" alt="Background" class="bgcolor">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-4 logotype">
                        <a href="https://alljob-56745.web.app/">Alljob<img src="#" alt="Logo">&nbsp;</a>
                    </div>
                    <div class="btn col-md-offset-2 col-lg-offset-2 col-sm-offset-2 col-xs-offset-5" autofocus>
                        <div class="sandwich">
                            <div class="sw-top"></div>
                            <div class="sw-mid"></div>
                            <div class="sw-foot"></div>
                        </div>
                    </div>
                    <div class="menu" style="display: none;">
                        <ul>
                            <li><a href="#header" rel='m_PageScroll2id'>Home<span></span></a></li>
                            <li><a href="#about" rel='m_PageScroll2id'>About me<span></span></a></li>
                            <li><a href="#portfolio" rel='m_PageScroll2id'>Portfolio<span></span></a></li>
                            <li><a href="#contacts" rel='m_PageScroll2id'>Contacts<span></span></a></li>
                        </ul>
                    </div>
                    <div class="top-txt">
                        <div class="top-sur text-center">
                            <div>
                                <h1>Gary Kukharev</h1>
                            </div>
                            <div>
                                <p class="top-text wow fadeInUp" data-wow-offset="170">JUNIOR WEB DEVELOPER /
                                    HTML Layout</p>
                                <br>
                                <p class="top-text wow fadeInUp" data-wow-offset="170">JUNIOR PHP PROGRAMMER / JAVASCRIPT</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- about me -->
        <section id="about">
            <div class="container">
                <div class="about">
                    <div class="row">
                        <div class="content text-center">
                            <div class="wow fadeInUp" data-wow-offset="150">
                                <h2>About me</h2>
                                <hr>
                            </div>
                            <div class="some-about col-lg-4 col-md-4 col-sm-4 wow fadeInLeft" data-wow-offset="150">
                                <h3>A little bit about yourself</h3>
                                <img src="#" alt="Sheet" class="me1 ">
                                <p>Good day, my name is Gary Kukharev
                                    <br> I do web development from scratch.
                                    <br> Perform layout and programming of sites, as well as refinement, adding a complete
                                    functionality to the site! Imposing responsive layout using Bootstrap,
                                    <br>so the site turns out beautiful on any device, whether
                                    computer, laptop or phone!
                                </p>
                            </div>
                            <div class="knowledge col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-offset="150">
                                <h3>Knowledge and Skills</h3>
                                <img src="#" alt="Sheet" class="me2">
                                <p>I know such programming languages ​​as: PHP, JavaScript. Markup languages: HTML (5),
                                    CSS style sheets (3).
                                    <br>I am able to typeset adaptive sites for tablets and mobile devices, freymork
                                    Bootstrap, Angular. I also know jQuery library! </p>
                            </div>
                            <div class="self col-lg-4 col-md-4 col-sm-4 wow fadeInRight" data-wow-offset="150">
                                <h3>Education</h3>
                                <img src="#" alt="Sheet" class="me3">
                                <p>Montreal College of Information Technology </p>
                                <p>(AEC)Full Stack Web Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="skils text-center">
                    <div class="container">
                        <div class="row">
                            <div class="top-text-ab wow fadeInUp" data-wow-offset="150">
                                <h2>Professional skills</h2>
                                <hr>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <h4>HTML5|CSS3</h4>
                                <div id="test-circle1"></div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <h4>Angular|Bootstrap</h4>
                                <div id="test-circle2"></div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <h4>jQuery|JavaScript</h4>
                                <div id="test-circle3"></div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <h4>PHP|MySQL</h4>
                                <div id="test-circle4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio-->
        <section id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="article-potf text-center">
                        <div class="top-text-pt wow fadeInUp" data-wow-offset="150">
                            <h2>Portfolio</h2>
                            <hr>
                        </div>
                        <div class="top-menu-pt">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="top-menu filter_div controls">
                                    <ul class="inline">
                                        <li class="wow bounceInLeft filter active" type="button" data-filter=".all">All works</li>
                                        <li class="wow bounceInLeft filter" type="button" data-filter=".category-1">"Full construction"</li>
                                        <li class="wow bounceInRight filter" type="button" data-filter=".category-2">
                                            Layout</li>
                                        <li class="wow bounceInRight filter" type="button" data-filter=".category-3">
                                            Other</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="Container" class="content-potfol container">
                            <div class="mix all category-2  category-3 col-lg-3 col-md-3 col-sm-3 col-xs-6 work-cont">
                                <img src="#" alt="Example" class="work">
                                <div class="port-item-cont">
                                    <h4>Example1</h4>
                                    <p>Short description</p>
                                    <button type="button" class="btn-more" data-toggle="modal"
                                        data-target="#modal-1">More details</button>
                                </div>
                            </div>
                            <div class="mix all category-2 col-lg-3 col-md-3 col-sm-3 col-xs-6 work-cont">
                                <img src="#" alt="Example" class="work">
                                <div class="port-item-cont">
                                    <h4><br>Example2</h4>
                                    <p>Short description</p>
                                    <button type="button" class="btn-more" data-toggle="modal"
                                        data-target="#modal-2">Подробнее</button>
                                </div>
                            </div>
                            <div
                                class="mix all category-1 category-3 category-2 col-lg-3 col-md-3 col-sm-3 col-xs-6 work-cont">
                                <img src="#" alt="Example" class="work">
                                <div class="port-item-cont">
                                    <h4><br>Example3</h4>
                                    <p>Short description</p>
                                    <button type="button" class="btn-more" data-toggle="modal"
                                        data-target="#modal-3">More details</button>
                                </div>
                            </div>

                            <div class="mix all category-2 col-lg-3 col-md-3 col-sm-3 col-xs-6 work-cont">
                                <img src="#" alt="Example" class="work">
                                <div class="port-item-cont">
                                    <h4><br>Example4</h4>
                                    <p>Short description</p>
                                    <button type="button" class="btn-more" data-toggle="modal"
                                        data-target="#modal-4">More details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--КОНТАКТЫ-->
        <section id="contacts">
            <div class="container">
                <div class="row">
                    <div class="cont-comm text-center">
                        <div class="top-text-comm wow fadeInUp" data-wow-offset="150">
                            <h2>Contacts</h2>
                            <hr>
                            <h4>If you have any questions, I will be happy to answer them!<br>
                                To do this, contact me in a way convenient for you and I will answer you soon!
                            </h4>
                        </div>
                        <div class="info">
                            <div class="col-md-3 col-sm-3 col-xs-6 wow bounceInLeft" data-wow-offset="100">
                                <div class="contact-box">
                                    <div class="contacts-icon">
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    </div>
                                    <h4>E-mail:</h4>
                                    <p>igorkukharevval@gmail.com</p>
                                </div>
                                <div class="contact-box">
                                    <div class="contacts-icon">
                                        <i class="fa fa-vk" aria-hidden="true"></i>
                                    </div>
                                    <h4>Facebook:</h4>
                                    <a href="#">...</a>
                                </div>
                                <div></div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6 wow bounceInLeft" data-wow-offset="100">
                                <div class="contact-box">
                                    <div class="contacts-icon">
                                        <i class="fa fa-desktop" aria-hidden="true"></i>
                                    </div>
                                    <h4>Web site:</h4>
                                    <a href="https://alljob-56745.web.app/">alljob-56745.web.app</a>
                                </div>
                                <div class="contact-box">
                                    <div class="contacts-icon">
                                        <i class="fa fa-skype" aria-hidden="true"></i>
                                    </div>
                                    <h4>Skype:</h4>
                                    <p>...</p>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 wow bounceInRight" data-wow-offset="100">
                                <div class="top-text-message">
                                    <h4>You can also write your message right here!
                                        <br>You need to fill in all the fields!</h4>
                                </div>
                                <div class="message">
                                    <form method="post" action="#">
                                        <p>Your name
                                            <br>
                                            <input type="text" size="32" required name="your_name"
                                                placeholder="Your name">
                                        </p>
                                        <p>Your E-mail
                                            <br>
                                            <input type="email" size="32" required name="email"
                                                placeholder="example@gmail.com">
                                        </p>
                                        <p>Your message
                                            <br>
                                            <textarea type="text" name="comment" cols="34" rows="5" name="messages"
                                                placeholder="Your message"></textarea>
                                        </p>
                                        <p>
                                            <input type="submit" value="Send" class="btn-sub">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--footer-->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-10">
                        <div class="text-info">
                            <p>© 2019 Gary Kukharev. Website Design</p>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1 col-md-offset-6 col-sm-offset-6">
                        <div class="social">
                            <a href="#">
                                <i class="fa fa-vk" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <div class="modal" id="modal-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h3 class="modal-title">More details</h3>
                    <button class="close" type="button" data-dismiss="modal">
                        <i class="fa fa-close"></i>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div class="img-content">
                        <img src="#" alt="Example1">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn-danger" type="button" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="modal-2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h3 class="modal-title">More details</h3>
                    <button class="close" type="button" data-dismiss="modal">
                        <i class="fa fa-close"></i>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div class="img-content">
                        <img src="#" alt="Example2">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn-danger" type="button" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="modal-3">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h3 class="modal-title">More details</h3>
                    <button class="close" type="button" data-dismiss="modal">
                        <i class="fa fa-close"></i>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div class="img-content">
                        <img src="#" alt="Example3">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn-danger" type="button" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="modal-4">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h3 class="modal-title">More details</h3>
                    <button class="close" type="button" data-dismiss="modal">
                        <i class="fa fa-close"></i>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div class="img-content">
                        <img src="#" alt="Example4">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn-danger" type="button" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</body>