<div class="container">
    <div class="row">
            <h2>Generated message : <span [ngStyle]="{backgroundColor : 'green'}">{{message}}</span>  </h2> <br/>
            <div>
                    <h3> ngSwitch case Demo </h3>
                    Select the traveller country  <select [(ngModel)]="country"> 
                            <option> Canada </option>
                            <option> USA </option>
                            <option> Cuba </option>
                            <option> Jamaica </option>
                            <option> India </option>
                    </select>
                    <hr>
                    <ul>
                            <li *ngFor="let traveller of Travellers" [ngSwitch]="traveller.country">
                                    <span *ngSwitchCase="country"> Traveller name is : {{traveller.name}} ====>
                                     Traveller country is : {{traveller.country}}</span>
                                     <!-- <span *ngSwitchCase="'USA'"> Traveller belongs to USA </span> -->
                            </li>
                    </ul>
            </div>
        <div>
                <h3> ngFor Demo</h3>
                <ul>
                        <li *ngFor="let a of numbers"> {{a}} </li>
                </ul>
        </div>
        <hr>
        <div> <!-- Server table-->
                <table>
                        <tr>
                               <th> Index </th>
                                <th> Server Name </th>
                                <th> Server Content </th>
                                <th> Server status</th>
                        </tr>
                        <tr *ngFor="let server of servers; let i = index">
                               <td>{{i+1}}</td> 
                                <td> {{server.name}} </td>
                               <td>  {{server.content}} </td>
                               <td>  {{server.status}}</td>
                        </tr>
                        
                      
                </table>
        </div> <!-- end server table-->
        <div> <!-- Employees start-->
                <table>
                        <tr>
                                <th> Name </th>
                                <th> Id </th>
                                <th> Salary </th>
                                <th> Country </th>
                                <th> JoinDate</th>
                                <th> Department</th>
                        </tr>
                        <tr *ngFor="let emp of Employees">
                                <td> {{emp.name}} </td>
                                <td> {{emp.id}}</td>
                                <td> {{emp.salary}}</td>
                                <td> {{emp.country}}</td>
                                <td> {{emp.joinDate}}</td>
                                <td> {{emp.department}}</td>
                        </tr>
                </table>
        </div> <!-- end employees-->

                <div>
                    <h3> ngClass Demo </h3>
                    
                        <ul class="nav nav-tabs">
                            <li [ngClass]="{'active' : home == true}"><a href="#">Home</a></li>
                            <li [ngClass]="{'active' : accounts == true}"><a>Accounts</a></li>
                            <li [ngClass]="{'active' : banking == true}"><a>Banking</a></li>
                            <li [ngClass]="{'active' : login == true}"><a>LogIn</a></li>
                        </ul>
                </div>
        <br/> <br/>
        <!-- <div> 
            Click here : <a (click)="linkClick()"> here</a> 
        </div>

        <div> 
                <h3> Button Events </h3> <br/>
                Click here : <button (click)="buttonClick()"> here</button> 
                  
        </div>

        <div> 
                <h3> Disbale and enable button </h3> <br/>
                Disable / Enable  : <button class="btn btn-warning" (click)="onDisable()" [disabled]="disable"> Disable </button> 
                  <span> check here to disable it</span><input type="checkbox" [(ngModel)]="disable">
        </div>
        <div> 
                <h3> show and hide the button </h3> <br/>
                show / hide  : <button class="btn btn-warning" (click)="onDisable()" *ngIf="disable"> Display Button </button> 
                  <span> check here to disable it</span><input type="checkbox" [(ngModel)]="disable">
        </div>
        <div> 
                <h3> Dynamic Styling </h3> <br/>
                <button class="btn btn-primary" (click)="onIncrease()"> Click Me </button> 
                  <span> {{num}} is 
                      <em [ngStyle]="{backgroundColor : 'green'}" *ngIf="num %2 == 0"> Even </em> 
                      <em *ngIf="num %2 !== 0" [ngStyle]="{backgroundColor : 'red'}"> Odd </em> </span>
            </div> -->

    </div>
</div>