<div class="container">
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12">
                <label for="" class="col-xs-2">Employee Name </label>
                <input type="text" class="col-xs-3" [(ngModel)]="ename">
            </div>

            <div class="col-xs-12">
                <label for="" class="col-xs-2">Employee Id </label>
                <input type="text" class="col-xs-3" [(ngModel)]="eid">
            </div>

            <div class="col-xs-12">
                <label for="" class="col-xs-2">Employee Org </label>
                <select [(ngModel)]="eorg"> 
                    <option>Engineering</option>
                    <option>Retail</option>
                    <option>Financials</option>
                </select>
            </div>
            <button class="btn btn-primary" (click)="onSubmit()"> OnSubmit</button>
        </div>
    </div>
    
        <div class="panel panel-primary" *ngFor="let emp of Employees">
            <div class="panel-heading" (click)="onPanelHeaderClick()"> {{emp.ename}} </div>
            <div class="panel-body" *ngIf="displayPanelBody"> 
                <p>
                    Emp name is : {{emp.ename}} <br/>
                    Emp id is : {{emp.eid}}<br/>
                    Emp org is : {{emp.eorg}}
    
                </p>
            </div>
        </div>
  
</div>

