<h1>test</h1>
<div class="card">
    <div class="card-header">
        <h2>{{ cv.title }}</h2>

        <small>
            <span class="FontSm">Creation </span>
            {{ cv.date | date:'dd.MM.yyyy' }}
        </small>
        <small>
            <span class="FontSm">End </span>
            {{ cv.dateEnd | date:'dd.MM.yyyy' }}
        </small>
    </div>

    <div>
        <small>
            <span class="FontSm">Person </span>
            {{ cv.author }}
            <span class="FontSm"> City {{ cv.city }}</span>
        </small>
        <h6 class="FontSm"> Description {{ cv.Description }}</h6>
    </div>
    <div>
        <h6>Description cv</h6>
        <quill-view-html [content]="cv.text.substring(0, 200)+'.....'"></quill-view-html>
    </div>

    <div>
        <small>Salary /hr {{cv.salary}} Type {{ cv.type }} </small>
    </div>

    <div>
        <small>Skills: {{ cv.Skills }} </small>
    </div>
    <button [routerLink]="['/cv', cv.id]" class="btn btn-dark">Open</button>