<div *ngIf="jobs.length; else loading">
  <div class="form-control">
    <input type="text" placeholder="Find a job..." [(ngModel)]="searchStr">
  </div>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Act</th>
        <th>Author</th>
        <th>Title</th>
        <th>Date</th>
        <th>City</th>
        <th>Company Description</th>
        <th>Salary</th>
        <th>Type</th>
        <th>Required Skills</th>
        <th>Date End</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let job of jobs | searchJobs:searchStr; let idx = index">
        <td>{{ idx + 1 }}</td>
        <td>
          <button class="btn btn-link open" [routerLink]="['/admin', 'job', job.id, 'edit']">
            Open
          </button>
          <a (click)="remove(job.id)">Delete</a>
        </td>
        <td>{{ job.author }}</td>
        <td>{{ job.title }}</td>
        <td>{{ job.date | date:'medium' :null:'En'}}</td>
        <td>{{ job.city }}</td>
        <td>{{ job.companyDescription }}</td>
        <td>{{ job.salary }}</td>
        <td>{{ job.type }}</td>
        <td>{{ job.requiredSkills }}</td>
        <td>{{ job.dateEnd }}</td>
      </tr>
    </tbody>
  </table>
</div>


<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>