<div *ngIf="form; else loading">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-control" [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}">
      <label for="title">Job title: {{ job.title }}</label>
      <input id="title" type="text" formControlName="title">
      <div *ngIf="form.get('title').touched && form.get('title').invalid" class="validation" ,>
        <small *ngIf="form.get('title').errors.required">
          Enter job title
        </small>
      </div>
    </div>

    <div class="form-control" [ngClass]="{invalid: form.get('author').touched && form.get('author').invalid}">
      <label for="author">Company job: {{ job.author }}</label>
      <input id="author" type="text" formControlName="author">
      <div *ngIf="form.get('author').touched && form.get('author').invalid" class="validation">
        <small *ngIf="form.get('author').errors.required">
          Enter company job
        </small>
      </div>
    </div>

    <div class="form-control" [ngClass]="{invalid: form.get('city').touched && form.get('city').invalid}">
      <label for="city">Company city: {{ job.city }} </label>
      <input id="city" type="text" formControlName="city">
      <div *ngIf="form.get('city').touched && form.get('city').invalid" class="validation">
        <small *ngIf="form.get('city').errors.required">
          Enter company city
        </small>
      </div>
    </div>

    <div class="form-control"
      [ngClass]="{invalid: form.get('companyDescription').touched && form.get('companyDescription').invalid}">
      <label for="companyDescription">Company Description:{{ job.companyDescription }}</label>
      <input id="companyDescription" type="text" formControlName="companyDescription">
      <div *ngIf="form.get('companyDescription').touched && form.get('companyDescription').invalid" class="validation">
        <small *ngIf="form.get('companyDescription').errors.required">
          Enter Company Description
        </small>
      </div>
    </div>

    <div class="form-control" [ngClass]="{invalid: form.get('salary').touched && form.get('salary').invalid}">
      <label for="salary">Company salary: {{ job.salary }}</label>
      <input id="salary" type="text" formControlName="salary">
      <div *ngIf="form.get('salary').touched && form.get('salary').invalid" class="validation">
        <small *ngIf="form.get('salary').errors.required">
          Enter Company salary
        </small>
      </div>
    </div>

    <div class="form-control" [ngClass]="{invalid: form.get('type').touched && form.get('type').invalid}">
      <label for="type">Type job: {{ job.type }}</label>
      <input id="type" type="text" formControlName="type">
      <div *ngIf="form.get('type').touched && form.get('type').invalid" class="validation">
        <small *ngIf="form.get('type').errors.required">
          Enter Type job
        </small>
      </div>
    </div>

    <div class="form-control"
      [ngClass]="{invalid: form.get('requiredSkills').touched && form.get('requiredSkills').invalid}">
      <label for="requiredSkills">Required Skills: {{ job.requiredSkills }}</label>
      <input id="requiredSkills" type="text" formControlName="requiredSkills">
      <div *ngIf="form.get('requiredSkills').touched && form.get('requiredSkills').invalid" class="validation">
        <small *ngIf="form.get('requiredSkills').errors.required">
          Enter Required Skills
        </small>
      </div>
    </div>

    <div class="form-control" [ngClass]="{invalid: form.get('date').touched && form.get('date').invalid}">
      <label for="date">date: {{ job.date | date:'dd.MM.yyyy' }}</label>
      <input id="date" type="date" formControlName="date">
      <div *ngIf="form.get('date').touched && form.get('date').invalid" class="validation">
        <small *ngIf="form.get('date').errors.required">
          Enter date
        </small>
      </div>
    </div>

    <div class="form-control" [ngClass]="{invalid: form.get('dateEnd').touched && form.get('dateEnd').invalid}">
      <label for="dateEnd">dateEnd: {{ job.dateEnd | date:'dd.MM.yyyy' }}</label>
      <input id="dateEnd" type="date" formControlName="dateEnd">
      <div *ngIf="form.get('dateEnd').touched && form.get('dateEnd').invalid" class="validation">
        <small *ngIf="form.get('dateEnd').errors.required">
          Enter dateEnd
        </small>
      </div>
    </div>


    <div class="form-control">
      <quill-editor formControlName="text"></quill-editor>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="form.invalid || submitted">Refresh</button>
  </form>
</div>

<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>