<td id="refineresultscol" data-tn-section="refineBy">
    <div id="refineresults">
        <h3>Web jobs in Montréal, QC</h3>
        <span role="heading" aria-level="2" style="height: 0; overflow: hidden; position: absolute;">Filter results
            by:</span>


        <div id="rb_Salary Estimate" class="rbSection rbOpen">
            <div class="rbHeader">
                <span role="heading" aria-level="3" class="ws_bold">
                    Salary Estimate</span>
            </div>
            <div id="SALARY_rbo" class="rbsrbo">
                <ul class="rbList">
                    <li onmousedown="rbptk('rb', 'salest', '1');">
                        <a rel="nofollow" href="#" title="$40,000+ (1505)">
                            <span class="rbLabel">$40,000+</span>
                            <span class="rbCount">(1505)</span></a>
                    </li>
                    <li onmousedown="rbptk('rb', 'salest', '2');">
                        <a rel="nofollow" href="#" title="$60,000+ (1024)">
                            <span class="rbLabel">$60,000+</span>
                            <span class="rbCount">(1024)</span></a>
                    </li>
                    <li onmousedown="rbptk('rb', 'salest', '3');">
                        <a rel="nofollow" href="#" title="$80,000+ (493)">
                            <span class="rbLabel">$80,000+</span>
                            <span class="rbCount">(493)</span></a>
                    </li>
                    <li onmousedown="rbptk('rb', 'salest', '4');">
                        <a rel="nofollow" href="#" title="$100,000+ (123)">
                            <span class="rbLabel">$100,000+</span>
                            <span class="rbCount">(123)</span></a>
                    </li>
                    <li onmousedown="rbptk('rb', 'salest', '5');">
                        <a rel="nofollow" href="#" title="$120,000+ (24)">
                            <span class="rbLabel">$120,000+</span>
                            <span class="rbCount">(24)</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="rb_Job Type" class="rbSection rbOpen">
            <div class="rbHeader">
                <span role="heading" aria-level="3" class="ws_bold">
                    Job Type</span>
            </div>
            <div id="JOB_TYPE_rbo" class="rbsrbo">
                <ul class="rbList">
                    <li onmousedown="rbptk('rb', 'jobtype', '1');">
                        <a rel="nofollow" href="#" title="Full-time">
                            <span class="rbLabel">Full-time</span>
                            <span class="rbCount">(..)</span></a>
                    </li>
                    <li onmousedown="rbptk('rb', 'jobtype', '2');">
                        <a rel="nofollow" href="#" title="Permanent (690)">
                            <span class="rbLabel">Permanent</span>
                            <span class="rbCount">(690)</span></a>
                    </li>
                    <li onmousedown="rbptk('rb', 'jobtype', '3');">
                        <a rel="nofollow" href="#" title="Part-time (241)">
                            <span class="rbLabel">Part-time</span>
                            <span class="rbCount">(241)</span></a>
                    </li>
                    <li onmousedown="rbptk('rb', 'jobtype', '4');">
                        <a rel="nofollow" href="#" title="Temporary (176)">
                            <span class="rbLabel">Temporary</span>
                            <span class="rbCount">(176)</span></a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="rb_Location" class="rbSection rbOpen">
            <div class="rbHeader">
                <span role="heading" aria-level="3" class="ws_bold">
                    Location</span>
            </div>
            <div id="LOCATION_rbo" class="rbsrbo">
                <ul class="rbList">
                    <li onmousedown="rbptk('rb', 'loc', '1');">
                        <a rel="nofollow" href="#">
                            <span class="rbLabel">Montréal, QC</span>
                            <span class="rbCount">(3051)</span></a>
                    </li>
                    <li onmousedown="rbptk('rb', 'loc', '2');">
                        <a rel="nofollow" href="#">
                            <span class="rbLabel">Laval, QC</span>
                            <span class="rbCount">(224)</span></a>
                    </li>


                    <li class="moreLi" onmousedown="rbptk('rb','loc','16');">
                        <a href="#"><span class="rbLabel">Web jobs</span>
                            <span class="rbCount">nationwide</span></a></li>
                </ul>

            </div>
        </div>
        <div id="rb_Company" class="rbSection rbOpen">
            <div class="rbHeader">
                <span role="heading" aria-level="3" class="ws_bold">
                    Company</span>
            </div>
            <div id="COMPANY_rbo" class="rbsrbo">
                <ul class="rbList">
                    <li onmousedown="rbptk('rb', 'cmp', '1');">
                        <a rel="nofollow" href="#">
                            <span class="rbLabel">CIUSSS de l’Est-de-l’Île-de-Montréal</span>
                            <span class="rbCount">(104)</span></a>
                    </li>
                    <li onmousedown="rbptk('rb', 'cmp', '2');">
                        <a rel="nofollow" href="#">
                            <span class="rbLabel">Pharmaprix</span>
                            <span class="rbCount">(79)</span></a>
                    </li>
                </ul>


            </div>
        </div>
        <div id="rb_Title" class="rbSection rbOpen">
            <div class="rbHeader">
                <span role="heading" aria-level="3" class="ws_bold">Title</span>
            </div>
            <div id="TITLE_rbo" class="rbsrbo">
                <ul class="rbList">
                    <li onmousedown="rbptk('rb', 'ttl', '1');">
                        <a rel="nofollow" href="#">
                            <span class="rbLabel">Merchandising Service Associate (MSA)</span>
                            <span class="rbCount">(41)</span>
                        </a>
                    </li>
                    <li onmousedown="rbptk('rb', 'ttl', '2');">
                        <a rel="nofollow" href="#">
                            <span class="rbLabel">Software Developer</span>
                            <span class="rbCount">(19)</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="rb_Language" class="rbSection rbOpen">
            <div class="rbHeader">
                <span role="heading" aria-level="3" class="ws_bold">Language</span>
            </div>
            <div id="LANGUAGE_rbo" class="rbsrbo">
                <ul class="rbList">
                    <li onmousedown="rbptk('rb', 'lang', '1');">
                        <a rel="nofollow" href="#" title="français (2684)">
                            <span class="rbLabel">français</span>
                            <span class="rbCount">(2684)</span>
                        </a>
                    </li>
                    <li onmousedown="rbptk('rb', 'lang', '2');">
                        <a rel="nofollow" href="#" title="English (1433)">
                            <span class="rbLabel">English</span>
                            <span class="rbCount">(1433)</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</td>