<div *ngIf="form; else loading">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-control" [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}">
            <label for="title">Cv title: {{ cv.title }}</label>
            <input id="title" type="text" formControlName="title">
            <div *ngIf="form.get('title').touched && form.get('title').invalid" class="validation" ,>
                <small *ngIf="form.get('title').errors.required">
                    Enter Cv title
                </small>
            </div>
        </div>

        <div class="form-control" [ngClass]="{invalid: form.get('author').touched && form.get('author').invalid}">
            <label for="author">Person cv: {{ cv.author }}</label>
            <input id="author" type="text" formControlName="author">
            <div *ngIf="form.get('author').touched && form.get('author').invalid" class="validation">
                <small *ngIf="form.get('author').errors.required">
                    Enter person cv
                </small>
            </div>
        </div>

        <div class="form-control" [ngClass]="{invalid: form.get('city').touched && form.get('city').invalid}">
            <label for="city">The person lives in the city: {{ cv.city }} </label>
            <input id="city" type="text" formControlName="city">
            <div *ngIf="form.get('city').touched && form.get('city').invalid" class="validation">
                <small *ngIf="form.get('city').errors.required">
                    Enter The person lives in the city
                </small>
            </div>
        </div>

        <div class="form-control"
            [ngClass]="{invalid: form.get('Description').touched && form.get('Description').invalid}">
            <label for="Description">Person description:{{ cv.Description }}</label>
            <input id="Description" type="text" formControlName="Description">
            <div *ngIf="form.get('Description').touched && form.get('Description').invalid" class="validation">
                <small *ngIf="form.get('Description').errors.required">
                    Enter Person description
                </small>
            </div>
        </div>

        <div class="form-control" [ngClass]="{invalid: form.get('salary').touched && form.get('salary').invalid}">
            <label for="salary">The salary is: {{ cv.salary }}</label>
            <input id="salary" type="text" formControlName="salary">
            <div *ngIf="form.get('salary').touched && form.get('salary').invalid" class="validation">
                <small *ngIf="form.get('salary').errors.required">
                    Enter the salary
                </small>
            </div>
        </div>

        <div class="form-control" [ngClass]="{invalid: form.get('type').touched && form.get('type').invalid}">
            <label for="type">Type salary: {{ cv.type }}</label>
            <input id="type" type="text" formControlName="type">
            <div *ngIf="form.get('type').touched && form.get('type').invalid" class="validation">
                <small *ngIf="form.get('type').errors.required">
                    Enter Type salary
                </small>
            </div>
        </div>

        <div class="form-control" [ngClass]="{invalid: form.get('Skills').touched && form.get('Skills').invalid}">
            <label for="Skills">Skills: {{ cv.Skills }}</label>
            <input id="Skills" type="text" formControlName="Skills">
            <div *ngIf="form.get('Skills').touched && form.get('Skills').invalid" class="validation">
                <small *ngIf="form.get('Skills').errors.required">
                    Enter Skills
                </small>
            </div>
        </div>

        <div class="form-control" [ngClass]="{invalid: form.get('date').touched && form.get('date').invalid}">
            <label for="date">search begin date {{ cv.date | date:'dd.MM.yyyy' }}</label>
            <input id="date" type="date" formControlName="date">
            <div *ngIf="form.get('date').touched && form.get('date').invalid" class="validation">
                <small *ngIf="form.get('date').errors.required">
                    Enter search begin date
                </small>
            </div>
        </div>

        <div class="form-control" [ngClass]="{invalid: form.get('dateEnd').touched && form.get('dateEnd').invalid}">
            <label for="dateEnd">Search completion date: {{ cv.dateEnd | date:'dd.MM.yyyy' }}</label>
            <input id="dateEnd" type="date" formControlName="dateEnd">
            <div *ngIf="form.get('dateEnd').touched && form.get('dateEnd').invalid" class="validation">
                <small *ngIf="form.get('dateEnd').errors.required">
                    Enter Search completion date
                </small>
            </div>
        </div>

        <div class="form-control" [ngClass]="{invalid: form.get('email_user').touched && form.get('email_user').invalid}">
            <label for="email_user">email_user: {{ cv.email_user | date:'dd.MM.yyyy' }}</label>
            <input id="email_user" type="email" formControlName="email_user">
            <div *ngIf="form.get('email_user').touched && form.get('email_user').invalid" class="validation">
              <small *ngIf="form.get('email_user').errors.required">
                Enter dateEnd
              </small>
            </div>
          </div>


        <div class="form-control">
            <quill-editor formControlName="text"></quill-editor>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="form.invalid || submitted">Refresh</button>
    </form>
</div>

<ng-template #loading>
    <p class="text-center">Loading...</p>
</ng-template>